html {
  background: url(https://cdn.pixabay.com/photo/2017/06/23/15/49/boot-2435056_960_720.jpg);
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  color: #fff;
}

span {
  font-size: 3rem;
  font-weight: 700;
  color: #F7EA00;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid #293B5F;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1) inset 0 0 0 3px #fff inset 0 0 10px #000 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1) inset 0 0 0 3px #fff inset 0 0 10px #000 0 0 10px rgba(0, 0, 0, 0.2);
}
.clock__face {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
.clock__face .hand {
  width: 50%;
  height: 6px;
  background: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
  -webkit-transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
          transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.clock__face .second-hand {
  background: #CF0000;
}