/* Variables */
html {
  font-family: sans-serif;
  background: #ffc600;
}

.inbox {
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  background: #f9f9f9;
  text-decoration: line-through;
}

input[type=checkbox] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #d1e2ff;
}